
/*??aprofitar pel header?? i footer??*/
html{
	font-family: Open Sans,sans-serif;
	}
body{
	/*margin-left:0em;
	margin-right:0em;
	margin-top:0em;*/
	width:auto;
	height:auto;
}
header{
	width:auto;
	height:auto;
	}

main{
	height:auto;
	width:auto;
	}
	
footer{
	height:auto;
	width:auto;
	}

